name: Release
run-name: Release ${{ github.event.inputs.tag }}
on:
  push:
    tags:
      - '*'

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: my-tag
        run: echo "Hello World!"